@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    203/West Nakhal Para,Tejgaon<br />
    Dhaka-1215, Bangladesh<br />
    <abbr title="Phone">P:</abbr>
    +8801830055496
</address>
